.mainDiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
}

.numberSection{
    margin:auto;
    font-size: 2rem;
    font: bold;
}

.MainLeftBox{
    text-align: center;
    width: calc(300px - 3vmin);
    height: calc(300px - 3vmin);
    border: 0.5px solid black;
    margin: 10px;
    box-shadow: 5px 10px #888888;
}

.MainRightBox{
    text-align: center;
    width: calc(300px - 3vmin);
    height: calc(300px - 3vmin);
    border: 0.5px solid black;
    margin: 10px;
    box-shadow: 5px 10px #888888;
    font-size: large;
}

.MainRightBox p {
    margin-top: 20%;
}

.numberSection{
    margin-top: 30%;
}

.buttonClass{
    margin-top: 5%;
}

.colorCard{
    background-color:yellow;
    border-radius: 5px bold black;
}

.button {
    margin: auto 20px;
}